<h2 mat-dialog-title>Add New Contact</h2>
<mat-dialog-content>
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Name" [(ngModel)]="user.name" required>
      <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Bio" [(ngModel)]="user.bio"></textarea>

    </mat-form-field>

<mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Birthday" [(ngModel)]="user.birthDay">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

</div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="primary" (click)="save()">
    <mat-icon>save</mat-icon>Save
  </button>
  <button mat-button color="primary" (click)="dismiss()">
    <mat-icon>cancel</mat-icon>Cancel
  </button>

</mat-dialog-actions>
